<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Page Enseignant infos</title>
<link rel="stylesheet" type="text/css" th:href="@{css/index.css}">

</head>
<body>

<h1>ID</h1>
<h2 th:text="${enseignant.id}"></h2>
<h1>Numero Enseignant</h1>
<h2 th:text="${enseignant.numeroEnseignant}"></h2>
<h1>Nom</h1>
<h2 th:text="${enseignant.nom}"></h2>
<h1>Prenom</h1>
<h2 th:text="${enseignant.prenom}"></h2>
<h1>Date Naissance</h1>
<h2 th:text="${enseignant.dateNaissance}"></h2>
<h1>Sexe</h1>
<h2 th:text="${enseignant.sexe}"></h2>
<h1>Grade</h1>
<h2 th:text="${enseignant.grade}"></h2>
<h1>Date Embauche</h1>
<h2 th:text="${enseignant.dateEmbauche}"></h2>








</body>
</html>